---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Secret Fader | Links</title>
    </head>
    <body>
        <div
            class="max-w-sm bg-white min-h-screen mx-auto shado-lg py-20 flex flex-col"
        >
            <h1 class="text-xl font-semibold text-center mt-2">
                Nicholas Young
            </h1>
            <ul class="mt-10 space-y-3">
                <li class="text-center">
                    <a href="https://youtube.com/@secretfader">YouTube</a>
                </li>
                <li class="text-center">
                    <a href="https://secretfader.com/">Website</a>
                </li>
                <li class="text-center">
                    <a href="mailto:hello@secretfader.com">Contact</a>
                </li>
            </ul>
        </div>
    </body>
</html>
