---
import "../styles/global.css";
import profile from "../assets/profile.jpg";
import podcast from "../assets/craft-and-process.jpg";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="d7dd3407-b196-4292-8c99-eb72245921bb"></script>
        <title>Links | Nicholas Young</title>
    </head>
    <body>
        <div
            class="max-w-sm min-h-screen mx-auto shado-lg py-10 px-10 flex flex-col font-humanist bg-gray-50"
        >
            <img class="mx-auto mb-4 w-60 rounded-full" src={profile.src} />
            <h1 class="text-4xl mx-auto font-semibold text-center mb-4">
                Nicholas Young
            </h1>
            <ul class="mt-2 mb-16 flex justify-around">
                <li class="text-center">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="https://youtube.com/@secretfader">YouTube</a
                    >
                </li>
                <li class="text-center-4">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="https://secretfader.com/">Website</a
                    >
                </li>
                <li class="text-center">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="mailto:hello@secretfader.com">Contact</a
                    >
                </li>
            </ul>
            <img class="mx-auto w-100 mb-4" src={podcast.src} />
            <h2 class="text-xl font-semibold text-center mb-4">
                Craft and Process (an interview show)
            </h2>
            <ul class="mt-5 space-y-3">
                <li class="text-center mb-4">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="https://www.youtube.com/playlist?list=PLEkOaEkMOS01232QuKxydzBECkToCdOoR"
                        >Watch on YouTube</a
                    >
                </li>
                <li class="text-center mb-4">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="https://podcasts.apple.com/us/podcast/craft-and-process/id1793611508"
                        >Listen on Apple Podcasts</a
                    >
                </li>
                <li class="text-center mb-4">
                    <a
                        class="p-4 bg-gray-100 block outline-solid outline-gray-300 rounded"
                        href="https://open.spotify.com/show/6DSh0s3LEx6VBfIaemfNFp?si=F0Hyp1d0Su6XuJ0oA3emfw"
                    >
                        Listen on Spotify</a
                    >
                </li>
            </ul>
        </div>
    </body>
</html>
